body{
    font-family: 'Poppins', sans-serif;
    margin:0px;
}

h1{
    font-size: 50px;
}

.orange-class{
    color:orange;
}

.flexible-container{
    display: flex;
    margin-bottom: 100px;
}

.half-width{
    width:50%;
    padding-left:2%;
}

.exp-item{
    box-shadow:10px 10px 40px grey;
    width: 40%;
    margin-left:5%;
    margin-right:10%;
    padding-left:20px;
    border-radius: 10px;
}

.half-width img{
    width:80%;
}

.link-button{
    text-decoration: none;
    background-color: orange;
    padding:10px 40px;
    border-radius: 5px;
    background-image:linear-gradient(orange,tomato);
    color: white;
    font-weight:700;
    
}

.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}
.dream-big{
    background-image: url('images/dream-bg.png');
    background-repeat: no-repeat;
    background-position: right;
}

h2{
    font-size:30px;
}

.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}

#baby{
    border-left: 7px solid;
    border-image: linear-gradient(green , cyan);
    border-image-slice:1;
}

#webdeveloper{
    border-left: 7px solid;
    border-image: linear-gradient(green , cyan);
    border-image-slice:1;
}

footer p{
    text-align:center;
}